.u-font-open-sans {
    font-family: $typeface-open-sans;
}

.u-font-bold {
    font-weight: $font-weight-bold;
}

.u-font-heading {
    font-family: $typeface-open-sans;
    font-weight: $font-weight-bold;
}
